.projectsmain {
  background-color: #f1f3ff;
  position: relative;
}

.projects__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #f1f3ff;
}

.projects__content {
  margin-left: 3.45rem;
  margin-right: 3.45rem;
  margin-top: 4rem;
}

.text h1 {
  font-size: 90px;
  font-weight: bolder;
  text-transform: uppercase;
}

/* Projects - showcase */

.projects_containerbox {
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container {
  height: 380px;
  width: 450px;
  margin: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container p {
  font-size: 80%;
  margin: 0.2rem;
  margin-top: 10px;
  text-align: center;
  color: black;
}

.container .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: rgb(82, 82, 82);
}

.container .link a {
  text-decoration: none;
  color: rgb(82, 82, 82);
}

.container .link .icon {
  padding-right: 10px;
  padding-top: 9px;
}

.container .imgbox {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.container .imgbox img {
  align-items: center;
  display: block;
  width: 100%;
  transition: all 0.8s;
}

.container .imgbox:hover img {
  transform: scale(1.1);
  cursor: pointer;
}

.container .link a:hover {
  color: rgb(80, 159, 255);
  cursor: pointer;
}

/* Responsive Layout*/

@media (max-width: 600px) {
  .text h1 {
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
  }

  .projects__content {
    margin-top: 5rem;
    width: 100%;
    justify-content: center;
  }

  .projects__container {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .container {
    height: 90%;
    width: 100%;
    display: block;
  }

  .container .imgbox img {
    display: block;
  }

  .container .link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: rgb(82, 82, 82);
    font-size: smaller;
  }
}
